<!DOCTYPE html>
<html>
  <head>
    <title>Usuarios</title>
  </head>
  <body>
    <br><br>
    <h2 class="h2">Usuarios</h2>
    <br><br>
    <form (ngSubmit)="buscar()">
      <label>Ordenar por:</label>
      <select name="orden" [(ngModel)]="orden">
        <option value="all">Todos los roles</option>
        <option value="admin">Administrador</option>
        <option value="user">Usuario</option>
      </select>
      <button type="submit" class="btn">Buscar</button>
    </form>
    <br><br>


    <form (ngSubmit)="buscardos()">
      <label for="tipoBusqueda">Buscar por:</label>
      <select id="tipoBusqueda" name="tipoBusqueda" [(ngModel)]="tipoBusqueda">
        <option value="nombre">Nombre</option>
        <option value="email">Correo electrónico</option>
      </select>
      <label for="valorBusqueda">Valor a buscar:</label>
      <input type="text" id="valorBusqueda" name="valorBusqueda" [(ngModel)]="valorBusqueda">
      <button type="submit" class="btn">Buscar</button>
      
    </form>
    
 
    
    

    
    <br><br>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th class="col-1">#</th>
                <th class="col-3">Nombre</th>
                <th class="col-4">Correo</th>
                <th class="col-2">Rol</th>
                <th class="col-2">Opciones</th>
            </tr>
            <tr *ngFor="let user of users2" class="text">
                <td class="col-1">{{ user.id }}</td>
                <td class="col-3">{{ user.name }}</td>
                <td class="col-4">{{ user.email }}</td>
                <td class="col-2">{{ user.rol_name}}</td>
                <td class="col-2">
                  <div class="d-flex">
                    <button (click)="onDelete(user.id)" class="btn" >Eliminar</button>
                    <button class="btn" routerLink="/modificar-user/{{user.id}}">Modificar</button>
                  </div>
                  
                </td>
              </tr>

              
          </table>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>

